.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif; 
}

.input-container {
  margin-bottom: 10px;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

h2 {
  margin-top: 20px;
}

h1 {
  color: #45a049;
  font-size: 1rem; 
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px; 
}
h2 {
  color: #45a049;

}